@inherits LayoutComponentBase
    <div>
        <a href='/PureJS.html'  target="_blank">Pure js implementation </a>
        <a href='/UsingJS'>Invoke Blazor events from js</a>
        <a href='/UsingInput'>Using input tag </a>
    </div>
<div>
    @Body
</div>
